@{
    ViewBag.Title = "Home";
}

<h3>Willkommen bei Apps4Kids!</h3>

<p>Diese Seite dient der Bewertung für Apps die für Kinder geeignet sind.</p>

<p>Registrierte Benutzer können Apps bewerten und Apps die nicht auf unserer Liste sind an die Redaktion empfehlen.</p>

<p>Wir wünschen Ihnen viel Spass auf unserer Seite!</p>

