h1, .h1, h2, .h2, h3, .h3 {
	margin: 0;
}

#nav {
	font-size: 0.8em;
}

	#nav a {
		text-decoration: none;
		color: black;
		white-space: nowrap;
	}

		#nav a:hover {
			font-weight: bold;
		}

.diagramContainer rect:hover {
	stroke: red;
}

.panel-heading:hover {
	background: rgb(246, 246, 211);
}

.panel-heading .arrow {
	display: inline-block;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 5px 0 5px 5px;
	border-style: dashed dashed dashed solid;
	border-color: transparent transparent transparent #9aa0a5;
	margin-left: 5px;
	top: 8px;
	border-width: 5px 5px 0 5px;
	border-style: solid dashed dashed;
	border-color: #9aa0a5 transparent transparent;
}

.panel-heading.collapsed .arrow {
	display: inline-block;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 5px 0 5px 5px;
	border-style: dashed dashed dashed solid;
	border-color: transparent transparent transparent #9aa0a5;
}

.fullscreen {
	background-color: white;
	cursor: pointer;
	height: 20px;
	position: absolute;
	background-position: 100% 0px;
	background-repeat: no-repeat;
	background-image: url(../images/fullscreen.png);
}

.clearable {
	position: relative;
}

	.clearable input {
		padding-right: 17px;
	}

	.clearable span.icon_clear {
		position: absolute;
		right: 14px;
		top: -2px;
		display: none;
		cursor: pointer;
		font: bold 1.2em sans-serif;
		color: #38468F;
	}

		.clearable span.icon_clear:hover {
			color: #f52;
		}

#d3_treeview {
	background: white;
}

.node circle {
	cursor: pointer;
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.node text {
	font-size: 11px;
}

path.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}

.closeButton {
	display: none;
	position: absolute;
	right: 60px;
	top: 59px;
	width: 19px;
	height: 19px;
	background: black;
	border-radius: 10px;
	color: white;
	font-weight: bolder;
	border: 2px solid white;
	box-shadow: 0 0 0 1px black;
	cursor: pointer;
}

	.closeButton div {
		margin-left: 3px;
		margin-top: -1px;
		font-size: 0.9em;
		pointer-events: none;
	}

#mainContent {
	background: #F2F2F2;
}

code {
	white-space: normal !important;
}

.header {
	margin-bottom: 30px !important;
}